.btn.btn-info.search {
    background-image: url(../../assets/images/buttonbg.gif)

}

#jtronMain {
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    color: white;
}

.jumbotron{
    background-image: url(../../assets/images/bodybg.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron:hover{
    transition: .7s ease;
    background-image: url(../../assets/images/bgbodyhov.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




#searchButton{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#searchInput {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#searchRow {
    margin-left: auto;
    margin-right: auto;
    text-align: center;    
}

#addButtons {
    margin: 5px;
    padding:5px;
}

.flex-column.result {
    margin-left: auto;
    margin-right: auto;
    text-align: center;   
    /* border: solid red 2px; */
    max-width: 33%;
    padding: 20px;
}

.d-flex.p-2.desc {
    /* border: solid green 2px; */
    font-size: 25px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    text-transform: uppercase;
    color: orangered;
    font-family: Bangers;

}

.d-flex.p-2.desc:hover {
    color: rgb(134, 16, 16);
    font-weight: 700;
    text-align:center;

}

.d-flex.p-2.desc1:hover {
    color: gold;
    font-weight: 700;
    text-align:center;
}




.d-flex.p-2.desc1 {
    /* border: solid green 2px; */
    font-size: 15px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    color: white;
}

.d-flex.pic {
    /* border: solid blue 2px; */
    max-width: 100%;
}

.flex-column.result{
    padding:2px;
    padding: 5px;

}

.flex-column.result:hover {
    transition: .7s ease;
    background-image: url(../../assets/images/bghoverimg.gif);
    padding: 5px;

}


.buttonMaker {
    border: 2px;
    padding: 10px;
    margin: 5px;
}

.giffy {
    margin-top:45%;

}

.buttonMaker:hover {
    border: 2px;
    padding: 10px;
    margin: 5px;
    background-image: url(../../assets/images/bghover.gif)

}
body{
    background:black;
    background-image: url(../../assets/images/bgbod.gif)    ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}


.navbar {
    background-image: url(../../assets/images/nav.gif)    ;
    color: white;
}

.navbar-brand.mb-0.h1{
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-footer {
    text-align: center;
}

.card-footer:hover {
    text-align: center;
    color:tomato;
    transition: .7s ease;
    font-size:20px;
}